
/*
==== 
placeholder styling
====
*/
body {
  font-family: sans-serif;
  margin: 10px auto;
  font-size: 12px;
}

div.section-block {
	display: block; 	width: 100%; position: relative;
	margin: 2em auto; padding: 10% auto;
}

#section1, #section3 {min-height: 1200px;}

#section1 p , #section3 p {font-size: 1.1em; text-align: center; padding: 4em;}

h2.sectionTitle {text-align: center;}

/*
==== 
end of placeholder styling
====
*/




/* Section 2 map styles*/

div#animatedMap {
	width: 100%;
	position: sticky; 
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0; min-height: 10em;
  z-index: 0;
  padding-top: 50px; padding-bottom: 50px;
  /*border: 1px solid red; */ /* for debugging purposes only */
}

#animatedMap svg {position: sticky; z-index: 1;}

#animatedMap svg .land {
  stroke-width: 0.5px;
  stroke: gray;
  fill: whitesmoke;
}

#animatedMap svg .sphere {
  stroke-width: 0.5px;
  stroke: gray;
  fill: none;
}

#animatedMap path.graticule {fill: none; stroke: #eee;}

#animatedMap path.arc { fill: none; stroke-width: 2px; }

#animatedMap path.nation {cursor: pointer; stroke: #aaa; stroke-width: 1px; fill: #f0f0f0;}
#animatedMap text.label {font-size: 9px;}
#animatedMap text.title {font-size: 12px; font-weight: 800;}


/*Map infobox styles*/

.mapInfoBox {
	position: absolute;
  border: 1.5px solid #000;
  width: 300px;
  height: auto;
  font-size: 12px;
  padding: 1em; 
  pointer-events: none;
  color: #fff;
	width: 16%; height: auto;
	z-index: 20;
	pointer-events: none;
}

.hidden {opacity: 0; pointer-events: none;}

.infoBox_Country {
	width: 100%;
	border-bottom: 1px solid #222; margin: 1em 0;
	font-size: 1.2em; text-transform: uppercase; font-weight: 800;
}
.infoBox_Mineral {font-size: 1em; margin: 0.5em 0; text-transform: uppercase; font-weight: 800;}
.infoBox_Acquisitions {font-size: 0.9em; text-transform: uppercase;}
.infoBox_Acquisitions span {display: inline-block; padding: 0 0.5em 0 0;}



/*Section 2 minerals table styles*/

div#mineralsTable { 
  position: relative; top: 0px; left: 0px;
  text-align: center; padding-top: 20px;
  width: 100%; height: auto; 
	z-index: 20; 
  -webkit-transform: translate3d(0,0,0);
}

ul#minerals { 
	display: block; 
	margin: 0 auto;
	padding: 0; 
}

ul#minerals li { 
	list-style-type: none; 
	height: 3.4em;
	color: #fff; 
	margin: 5% 10%;
	padding: 1em 0em;
	position: relative;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

#mineralsTable ul#minerals li.graphite, .mapInfoBox.graphite {background-color: #E59A00} 
#animatedMap path.arc.graphite { stroke: #E59A00; } 
#animatedMap path.nation.graphite { fill: #E59A00; }
/*h5.graphite {color: #dfbf9f} */

#mineralsTable ul#minerals li.vanadium, .mapInfoBox.vanadium {background-color: #0D625F} 
#animatedMap path.arc.vanadium { stroke: #0D625F; } 
#animatedMap path.nation.vanadium { fill: #0D625F; stroke: #0D625F;}
/*h5.vanadium {color: #e67300;}*/

#mineralsTable ul#minerals li.rareearthelements, .mapInfoBox.rareearthelements {background-color: #DE2B26} 
#animatedMap path.arc.rareearthelements { stroke: #DE2B26;} 
#animatedMap path.nation.rareearthelements { fill: #DE2B26; }
/*h5.rareearthelements {color: #cca300} */


div.elementTitle { 
	/*display: inline-block; */
	position: absolute; left: 1em;
	vertical-align: middle; 
	font-size: 2em; font-weight: 800; 
	text-transform: uppercase;
}

div.elementStats {  
	right: 1em; position: absolute;
}

div.elementStats div {
	display: inline-block;
	vertical-align: middle; 
	padding: 0 0.5em 0 0.5em;
	font-weight: 400;
}

ul#minerals li span.figure { 
	padding: 0.1em 0 0.1em 0; 
	font-size: 2.5em; font-weight: 800; 
	display: block;
	width: 100%;
	text-align: center;
}

div.production {border-right: 1px solid #fff;}




/*Responsive CSS for map info boxes and div#mineralsTable */

@media screen and (max-width: 650px) {
	body {font-size: 10px;}

	.mapInfoBox { 
		width: 100%; 
		background-color: rgba(255,255,255,); 
		position: relative; display: block; 
		font-size: 10px;
		padding: 0.1em;
		margin: 0.2em 0;
		border: none;
	}
	.mapInfoBox h4, .mapInfoBox h5 {
		display: inline-block; 
		width: 49%; padding: 0; 
		font-size: 1em; 
		border: none;
	}
	.mapInfoBox .element_name {text-align: right;}
	ul#minerals li {height: 2.5em;}
	div.elementTitle {  left: 0.25em;	font-size: 1.5em; }
	div.elementStats {  right: 0.2em;  }
	ul#minerals li span.figure {	font-size: 1.6em; }

	path.nation {stroke-width: 0.5px;}
	path.arc {stroke-width: 1.5px;}
}

@media screen and (max-width: 500px) {
	

	div.elementTitle {  left: 0.25em;	font-size: 1em; }
	div.elementStats {  right: 0.2em;  }
	ul#minerals li {height: 2em;}
	ul#minerals li span.figure {	font-size: 1.1em; }
}